body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0049B7;
    color: #a0d2eb;
}

img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    height: 200px;
  }

button{
    background-color: #d0bdf4;
    border: none;
    padding: 15px 32px;
    border-radius: 8px;
    font-size: 16px;
    color: #0049B7;
}

button:hover{
    background-color: #008CBA;
  color: white;
}